.list-item {
  width: 270px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  &.artists {
    height: 300px;
  }
  &.albums {
    height: 325px;
  }
  &.songs {
    height: 345px;
  }
}
.cover {
  width: 270px;
  height: 270px;
  &.artists {
    border-radius: 50%;
  }
}

.link {
  text-decoration: none;
  color: unset;
  & > h3 {
    display: inline;
  }
  & > h4 {
    display: inline;
  }
}
