.albums-cover {
  width: 240px;
  height: 240px;
}
.artists-cover {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.link {
  text-decoration: none;
  color: unset;
  & > h4 {
    display: inline;
  }
}
